@import './colors.scss';

$primary: $blue;
$info: $light-blue;
$danger: $red;

@import 'bulma';

html{
  background-color: $light;
}

.result-item{
  border-top: solid 1px $light;
}

.stickyHeader{
  position: sticky;
  top:0;
  background: $white;
}